@{
  Layout = "_Layout";
}

<h1>Welcome to the Bakery!</h1>

<a href='/vendor'><button type="button" class="btn btn-success" style="width:150px">View Vendors</button></a>
<a href='/vendor/new'><button type="button" class="btn btn-success" style="width:150px">Add a Vendor</button></a>
