@{
  Layout = "_Layout";
}

<h1>Add a new order to @Model.Name</h1>

<form action="/vendor/@Model.Id/order" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderDescription">Order Description</label>
  <input id="orderDescription" name="orderDescription" type="text">
  <label for="pastery">How Many Pastery</label>
  <input id="pastery" name="pastery" type="text">
  <label for="bread">How Much Bread</label>
  <input id="bread" name="bread" type="text">
  <button type='submit' class="btn btn-success">Add order</button>
</form>