@{
  Layout = "_Layout";
}

<h1>Vendor Order Details: </h1>

<h2>@Model["Order"].Description</h2>
<h3>Vendor: @Model["Vendor"].Name</h3>

<a href='/vendor/@Model["Vendor"].Id/order/new'>Add another order</a>
<a href='/vendor'>View all vendor</a>